.pad-top{
 padding-top: 60px;
}

.pad-bottom{
    padding-bottom: 60px;
   }

.form-group .form-control, button.btn{
    border-radius: 20px;
}

textarea {
    resize: none;
}

input.form-control-file {
    color: white;
}

h2 {
    padding-bottom: 15px;
}

.btn-sty{
    padding-top:10px;
}

button.btn.btn-warning {
    min-width: 130px;
}

.mainBody {
    flex: 1 0;
}